.about-us{
  background-image: url('./aboutUs.png');
  background-size: cover;

}

.about{
  align-items: center;
  margin: 5% 10% 0% 10%;
  font-size: 25px;
  line-height: 1.4;
  font-weight: 500;
}

@media only screen and (max-width:426px){
  .about{
    margin:3%;
  }
}
