// .about-us{
//   background: linear-gradient(45deg, black 8%, rgba(0, 0, 0, 0) 8%),
//                 linear-gradient(225deg, black 10%, rgba(0, 0, 0, 0) 10%);
// }
.about-grid{
  display:flex;
  flex-wrap: wrap;
}
.about-with-image
{
  display:grid;
  grid-template-columns:45% 55%;
}

.about{
  margin: 5% 10% 0% 10%;
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}


@media only screen and (max-width:768px){
  .about-with-image
  {
    display:grid;
    grid-template-columns:100%;
  }
  .about {
    font-size: 18px;
    margin: 0% 0% 0% 0%;
  }
}
