.work-container{
  width:100%;
}
.contact-container
{
	width: 45vw;
	margin: 20px;
	padding: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.handshake{
	width:45vw;
	height:75vh;
}

.work-title
{
	font-size: 45px;
	font-weight: bold;
	text-align: left;
}

.form-container{
width:65%;
}
@media only screen
   and (max-width : 768px)
{
	.work-title{
		text-align: center;
	}
	.handshake {
		width: 80vw;
		margin-left: 10%;
	}
	.contact-container
	{
		width: 100vw;
		padding: none;
		margin: none;
	}

	.form-container{
	width:65%;
	}
	.work-container{
	  width:100%;
	}
}
@media only screen
   and (max-width :425px)
{
	.handshake {
		height: 50vh;
	}
	.work-title{
		text-align: left;
	}
	.contact-container
	{
		width: 100vw;
		padding: none;
		margin: none;
	}

	.form-container{
	width:95%;
	}
	.work-container{
	  width:100%;
	}
}
@media only screen
   and (max-width : 320px)
{
	.work-title{
		text-align: left;
		font-size: 25px;
	}
	.contact-container
	{
		width: 100vw;
		padding: none;
		margin: none;
	}
 //fix button
	.form-container{
	width:98%;
	}
	.work-container{
	  width:100%;
	}
}

//768- fix image and form
