.work-container{
  width:100%;
}
.contact-container
{
	width: 50vw;
	margin: 20px;
	padding: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.handshake{
	width:55vw;
	height:45vh;
}
	.title
	{
		font-size: 25px;
		font-weight: bold;
	}

.form-container{
width:65%;
}
@media only screen
   and (max-width : 768px)
{
	.contact-container
	{
		width: 100vw;
		padding: none;
		margin: none;
	}

	.form-container{
	width:65%;
	}
	.work-container{
	  width:100%;
	}
}
@media only screen
   and (max-width :425px)
{
	.contact-container
	{
		width: 100vw;
		padding: none;
		margin: none;
	}

	.form-container{
	width:95%;
	}
	.work-container{
	  width:100%;
	}
}
@media only screen
   and (max-width : 320px)
{
	.contact-container
	{
		width: 100vw;
		padding: none;
		margin: none;
	}
 //fix button
	.form-container{
	width:98%;
	}
	.work-container{
	  width:100%;
	}
}


//320-fix button
// 425,375- perfect
//768- fix image and form
