.calc-1{
  display: grid;
  grid-template-columns: 50% 50%;
}
.inputfield{
  font-size: 18px;
  padding: 15px 15px 15px 10px;
  display: block;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #b3e5b4;
  margin:3%;

  &:focus {
    outline: none;
  }
}
.inputfield-result{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #b3e5b4;
  margin: 2%;

  &:focus {
    outline: none;
  }
}
#select-plan
{
  font-size: 18px;
  padding: 15px 15px 15px 10px;
  display: block;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #b3e5b4;
  margin:3%;

  &:focus {
    outline: none;
  }
}
.form-calc{
  width: 60%;
}
.result-grid{
  display: grid;
  grid-template-columns:auto auto auto;
  width:57%;
  margin:2%;
}
.profit-div{
  height:auto;
  width:70vw;
  background-color:white;
  border:2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calc-def{
  padding:0% 5% 0% 5%;
}
.button-style{
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0px 35px;
  font-size: 15px;
  background-color:green;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 2%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width:769px){
  .calc-1{
    	grid-template-columns: 100%;
  }
  #select-plan
  {
    width: 37vw;
  }

}

@media only screen and (max-width:426px){
  .profit-div{
    width:90vw;
  }
  .inputfield{
    width: 100%;
  }
  .form-calc{
    width:90%;
  }
  .inputfield-result{
    width: 100%;
  }
  #select-plan
  {
    width:100%;
  }
  .result-grid{
    width:100%;
  }
  .calc-def{
    padding:2%;
  }
}
