.grid-design{
  grid-template-rows:25% 25% 25% 25%;
}
.callback-container{
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width:426px){
  .callback-container{
    display: flex;
    flex-direction:column;
  }
}
