.grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 33% 33% 34%;
}

.button {
  border-radius: 4px;
  background-color:green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size:1rem;
  padding:3%;
  width:auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

ul {
  margin-left: 20%;
}

li {
  font-size: 25px;
  margin-bottom: 8%;
}

@media only screen and (max-width: 1024px) {
  li{
    font-size: 20px;
  }
  ul {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 768px) {
  li{
    font-size: 20px;
  }
  ul {
    margin-left: 0%;
  }
}

@media only screen and (max-width:426px){
  .grid{
    grid-template-columns:100%;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
  li{
    font-size: 25px;
  }
  ul {
    margin-left: 20%;
  }
}

@media only screen and (max-width:375px){

  li{
    font-size: 25px;
  }
  ul {
    margin-left: 15%;
  }
}

@media only screen and (max-width:320px){

  li{
    font-size: 25px;
  }
  ul {
    margin-left: 10%;
  }
}



//styling and a bit of responsive-remaining
