.price-grid{
  display: grid;
  grid-template-columns:auto auto auto;
  margin:2%;
  justify-content: center;
}
.head-bg1{
  background:url('services-bg.png') no-repeat center center/cover;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}


.bg-payment-div{
position: fixed;
top: 10%;
left:37%;
z-index: 10;
}


.price{
  width:30vw;
  height:auto;
  background-color:white;
  display:flex;
  flex-direction: column;
  justify-content:center;
}
.features-div{
  display:grid;
  grid-template-columns:40% auto auto;
}
.sub-div{
  padding:0% 8% 0% 8%;
}
.button {
  border-radius: 4px;
  background-color:black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size:1rem;
  padding:3%;
  width:auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover{
  background-color:#0069FF;

}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width:768px){
  .bg-payment-div{
    left:27%;
  }
}

@media only screen and (max-width:426px){
  .price-grid{
    grid-template-columns:100%;
  }
 .price{
   width:90vw;
   margin-top:5%;
 }
  .features-div{
      grid-template-columns:100%;
  }
  .sub-div{
    padding:5%;
  }
  .main-container{
      align-items:center;
  }
}

@media only screen and (max-width:768px){
  .bg-payment-div{
    left:27%;
  }
}
