
.Navbar-color {
  background-color:black;
  padding:1%;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-end;
}
.links{
  padding:0% 2% 0% 2%;
}
.active{
  color:blue;
}
.toggle{
  display:block;

}
  .hidden{
    display: none;
  }
  .show-ham{
    display: none;
  }
@media only screen and (max-width:426px){
  .Navbar-color {
    padding:5%;
  }

  .nav{
    display: none;
  }
 .toggle{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:flex-start;
   padding-left:10%;
 }
 .show-ham{
   display:block;
 }
 .links{
   padding:3%;
 }
}
